.feed{
    margin: 0 20px;
    flex: 0.6;

}
.feed__inputContainer {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
     width: fit-content;
    

}
.feed__input{
     

    display: flex;
 
    color: gray;
    padding:10px;
    margin-left: 15px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-radius: 20px;
}
.feed__input > form {
    display: flex;
 
   
}

.feed__input > form > input {
    border:none;
    /* flex:1; */
    margin-left:10px;
    font-weight: 600;
    outline-width: 0;
     

}
.feed__input > form >button{
    display: none;
}
.feed__inputOptions{
    display: flex;
    justify-content: space-evenly;
     width: fit-content;


}
@media (max-width:500px){
    .feed, .feed__inputContainer, x{
        width:300px;
        font-size: smaller;
    }
    .feed__input {
        font-size: small;
        width: 250px;
    }
     .feed__inputOptions{
        font-size: smaller;
     }
    }